<div class="pt-4 ">

  <h1 class="font-inter text-xl font-bold text-gray-900 mb-6 md:mb-8">AI-Powered Analytics</h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 justify-center">
      
      <div class="flex justify-center">
          <app-course-popularity class="w-full sm:w-72"></app-course-popularity>
      </div>

      <div class="flex justify-center">
          <app-instructor-performance class="w-full sm:w-72"></app-instructor-performance>
      </div>

      <div class="flex justify-center">
          <app-student-engagement class="w-full sm:w-72"></app-student-engagement>
      </div>
      
  </div>
</div>
