/* Default Icon */
.sidebar-icon {
  width: 24px;
  height: 24px;
  background-color: #4a4a68; 
 
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
 
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
}
 
/* Hover Effect */
.sidebar-link:hover {
  background-color: #923D8C !important;
  color: white !important;
}
 
.sidebar-link:hover .sidebar-icon {
  background-color: white !important;
}
 
/* Active Link */
.active-link {
  background-color: #A55EEA !important;
  color: white !important;
  border-left-color: white !important;
}
 
.active-link .sidebar-icon {
  background-color: white !important;
}
