<div class="w-full bg-gray-50 p-4 ">
  <div class="flex flex-col gap-4 px-6 py-5 border-b border-gray-200 bg-white">
    <!-- Title Wrapper -->
    <div class="flex items-center">
      <h1 class="font-semibold text-lg sm:text-xl md:text-2xl text-gray-900">
        User Management
      </h1>
    </div>

    <!-- Tabs -->
    <div class="flex flex-wrap bg-[#F5F5F5] py-2 px-3 gap-2">
      <ng-container *ngFor="let tab of tabs">
        <button
          (click)="setActiveTab(tab)"
          [ngClass]="{
            'bg-[#923D8C] text-white': activeTab === tab,
            'text-gray-700': activeTab !== tab
          }"
          class="px-4 sm:px-5 py-2 text-xs sm:text-sm font-medium rounded-md cursor-pointer
                 transition-all duration-200 hover:bg-[#923D8C] hover:text-white"
        >
          {{ tab }}
        </button>
      </ng-container>
    </div>
  </div>

  <!-- Conditional Components -->
  <div class="mt-4">
    <app-student *ngIf="activeTab === 'Students'"></app-student>
    <app-instructor *ngIf="activeTab === 'Instructors'"></app-instructor>
   <app-role *ngIf="activeTab === 'Access Role'"/>
  </div>
</div>
